//Код для подключения шрифта

@font-face {
    font-family: 'SF UI Display'; 
    src: url(../fonts/sf-ui-display-cufonfonts/sf-ui-display-medium-58646be638f96.otf);
}

@font-face {
    font-family: 'SF UI Display'; 
    font-weight: 300;
    src: url(../fonts/sf-ui-display-cufonfonts/sf-ui-display-light-58646b33e0551.otf);
}

@font-face {
    font-family: 'SF UI Display'; 
    font-weight: 500;
    src: url(../fonts/sf-ui-display-cufonfonts/sf-ui-display-semibold-58646eddcae92.otf);
}
  
